%div
  %p
    = t 'digest.email_body.completed_todos'
  - @daily_statistic.completed_todos.map do |list, items|
    %p= link_to list.title, root_path
    %ul
      - items.each do |item|
        %li= item.text