%div{style: 'color: #34ad00; float: left; margin-left: 10%; width: 40%;'}
  %div{style: 'font-size: 48px; position: relative; top: 15px; width: 75%;'}
    Everything is completed
%div{style: 'color: #1f8cd3; float: right; margin-left: 10%; width: 40%;'}
  %div{style: 'font-size: 48px; position: relative; top: 15px; width: 30%;'}
    Nothing to do