%div{style: 'color: #34ad00; float: left; margin-left: 10%; width: 40%;'}
  %div{style: 'font-size: 48px; position: relative; top: 15px; width: 75%;'}
    = t 'digest.email_body.nothing_was_done'
%div{style: 'color: #1f8cd3; float: right; margin-left: 10%; width: 40%;'}
  %div{style: 'float: left; font-size: 128px;'}
    = @daily_statistic.remaining_number
  %div{style: 'float: left; font-size: 48px; position: relative; top: 15px; width: 0;'}
    = t 'digest.email_body.remaining', count: nil