= render partial: 'with_message',
  locals: {color: '#34ad00', message: t('digest.email_body.nothing_was_done'), float: 'left'}

= render partial: 'with_number',
  locals: {color: '#1f8cd3',
           number: @daily_statistic.remaining_number,
           message: t('digest.email_body.remaining', count: nil),
           float: 'right'}