%div{style: "float: #{float}; margin-left: 10%; width: 40%;"}
  %table{style: "color: #{color}"}
    %tr{style: 'height: 150px;'}
      %td{style: 'font-size: 128px;'}
        = number
      %td{style: 'font-size: 48px; width: 1px;'}
        = message