%div{style: "float: #{float}; margin: 0 10% 0 10%; width: 30%;"}
  %table{style: "float: #{float}; color: #{color};"}
    %tr{style: 'height: 150px;'}
      %td{style: 'font-size: 24px;'}
        = message