- @a = 10
- @b = 30

%div{style: 'margin: 0 auto; width: 90%;'}
  %div{style: 'color: #1e8cd4;'}
    %h1{style: 'text-align: center;'}
      Daily Digest
    %hr{style: 'background: #CCCCCC; border: 0 none; height: 1px; width: 100%;'}
    %div{style: 'background: #fff; padding-left: 35px; position: relative; margin: 0 auto; top: -18px; width: 150px;'}
      %span= Date.today.strftime I18n.t 'formats.date'
  %div
    %div{style: 'color: #34ad00; float: left; margin-left: 10%; width: 40%;'}
      - if @a== 0
        = render partial: 'nothing_done'
      - else
        = render partial: 'completed_number'
    %div{style: 'color: #1f8cd3; float: right; margin-left: 10%; width: 40%;'}
      %div{style: 'float: left; font-size: 128px;'}
        = @b
      %div{style: 'float: left; font-size: 48px; position: relative; top: 15px; width: 0;'}
        todos remaining
  %div{style: 'color: #1e8cd4; clear: both;'}
    TaDa &copy;2015