<%= form_for @item = list.items.new,
             url: to_do_items_path(id: list.id),
             method: :post,
             remote: true,
             html: { id: "form-#{list.id}", class: 'hidden' } do |f| %>

    <div class="form-group">
      <%= f.text_field :text, placeholder: "#{t 'tada.add-item-placeholder'}" %>
    </div>

    <%= submit_tag "#{t 'tada.add-item-button'}", class: 'btn btn-success btn-sm' %>
    <%= button_tag "#{t 'tada.clear-item-button'}", class: 'btn btn-default btn-sm', type: :button, data: {'behavior' => 'collapse_on_click'} %>
<% end %>