<%= form_for @item = list.items.new,
             url: to_do_items_path(id: list.id),
             method: :post,
             remote: true,
             html: { id: "form-#{list.id}", class: 'hidden' } do |f| %>

    <div class="form-group">
      <%= f.text_field :text %>
    </div>

    <%= submit_tag 'Submit', class: 'btn btn-success' %>
    <%= button_tag 'Close', class: 'btn btn-default', type: :button, data: {'behavior' => 'collapse_on_click'} %>
<% end %>