<%= form_for @item = list.items.new,
             url: to_do_items_path(id: list.id),
             method: :post,
             remote: true,
             html: { id: "form-#{list.id}", style: 'display:none' } do |f| %>

    <div class="form-group">
      <%= f.text_field :text, id: "item-input-#{list.id}", placeholder: "#{t 'item.add.placeholder'}" %>
    </div>

    <%= submit_tag "#{t 'item.add.button'}", class: 'btn btn-success btn-sm' %>
    <%= button_tag "#{t 'item.cancel_button'}", class: 'btn btn-default btn-sm', type: :button %>
<% end %>