<div class="list-header">
  <h3><%= list.title %></h3>
  <div><%= list.description %></div>
</div>

<ul class="list-items">
  <% list.items.each do |item| %>
    <%= render partial: 'to_do_items/item', locals: {item: item} %>
  <% end %>
</ul>

<%= link_to "#{t 'item.add.link'}", new_to_do_item_path(id: list.id), id: "add-item-link-#{list.id}" %>