<div class="modal fade" id="add-list-modal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="purchaseLabel">New ToDo List</h4>
      </div>
      <div class="modal-body">
        <label for="modal-input-name">Name</label>
        <input id="modal-input-name" type="text">
        <label for="modal-input-description">Description</label>
        <textarea id="modal-input-description" rows="3" cols="67"></textarea>
        <span>Create the list and start adding a new ToDo items.</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">CREATE LIST</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>