.input-group.left-inner-addon
  .input-group-btn
    %span.glyphicon.glyphicon-search
    %button{type: 'button', class: 'btn btn-default'}
      = 'Filters'
      %span.caret
  %form
    %input{type: 'text', class: 'form-control', placeholder: 'is: done author:vasyll@interlink-ua.com send'}
.delimiter