<h1> <%= t 'list.all' %></h1>
<%= link_to t('list.new.create_button'), new_to_do_list_path,
    id: 'add-list-button', class: 'btn btn-warning' %>
<%= render partial: 'to_do_items/check_error_alert', locals: {id: 'new-list', message: t('list.new_error') } %>
<hr/>

<%= render partial: @listsPresentation.all %>