<h1> <%= t 'list.all' %></h1>
<hr/>

<% if @lists.blank? %>
    <%= render partial: 'no_lists' %>
<% else %>
    <% @lists.each do |list| %>
        <div class="list" id="list-<%= list.id %>">
            <%= render partial: 'article', locals: {list: list} %>
        </div>
    <% end %>
<% end %>