.login
  - unless flash.empty?
    .login-error
      = render partial: 'to_do_items/error_alert', locals: {id: 'login', type: '', message: flash[:alert]}
  .login-header
    %p= t 'user.login'
  .login-body
    = render partial: 'users/new'