// Place all the styles related to the to_do_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f5efe6;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  font-family: "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  line-height: 20px;
  min-height: 1000px;
  padding: 10px 30px;
  text-align: left;
  width: 900px;

  .alert {
    font-size: 12px;
    display: none;
    margin: 5px 0 10px 6px;
    max-width: 585px;
    padding: 10px;
  }

  .bs-callout {
    margin: 10px 1px;
    max-width: 585px;
    padding: 15px 30px 15px 15px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
  }

  .bs-callout h4 {
    color: #aa6708;
    font-size: 16px;
    margin-top: 0;
  }

  .bs-callout p {
    font-size: 12px;
  }

  .bs-callout p:last-child {
    margin-bottom: 0;
  }

  .bs-callout code, .bs-callout .highlight {
    background-color: #fff;
  }

  .bs-callout-warning {
    border-color: #f1e7bc;
    border-left-color: #aa6708;
  }

  .btn {
    margin-bottom: 4px;
  }

  .modal {
    max-width: 600px;
    margin: 0 auto;
    .modal-header {
      border: none;
      text-align: center;
      h4 {
        font-weight: bold;
        margin-bottom: -10px;
      }
    }

    .alert {
      margin: 5px 0 -20px 15px;
      max-width: 550px;
    }

    .modal-footer {
      border: none;
      text-align: left;
    }

    .btn {
      margin-bottom: 0;
    }

    form {
      label {
        display: block;
        font-size: 12px;
        margin-bottom: -1px;
        margin-top: 20px;
      }

      textarea {
        max-width: 100%;
        width: 550px;
      }

      p {
        color: #999;
        font-size: 11px;
        margin: 20px 0 -20px;
      }
    }
  }

  h1 {
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
  }

  hr {
    background: #CCCCCC;
    border: 0 none;
    height: 1px;
  }

  .text-input {
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 5px 7px 3px;
    width: 550px;
    max-width: 100%;
  }

  .list {
    a {
      color: #1c5c76;
      font-size: 13px;
      margin-left: 22px;
      text-decoration: underline;
    }

    a:focus {
      outline: none;
    }

    form {
      background: #fafafa;
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      margin-left: 6px;
      margin-top: 10px;
      max-width: 585px;
      padding: 15px 5px 8px 15px;
      input[type='submit'], button {
        margin: -5px 10px 3px 0px;
      }
    }

    .list-items {
      list-style-type: none;
      padding-left: 5px;
      padding-right: 100px;
      margin-top: 10px;
    }

    .incomplete {
      margin-bottom: 0;
    }

    .complete {
      color: #999;
      font-size: 11px;
      margin-top: 15px;

      .list-item {
        margin-bottom: 0;
        line-height: 12px;
        label {
          top: -2px;
        }
      }
    }

    .list-header {
      h3 {
        color: #1c5c76;
        font-size: 15px;
        margin-bottom: 0px;
        margin-top: 30px;
      }

      div {
        color: #808080;
        font-size: 12px;
        font-style: italic;
      }
    }

    .list-item {
      margin-bottom: 5px;
      label {
        display: inline;
        font-weight: normal;
        position: relative;
        top: -1px;
      }
    }
  }
}