// Place all the styles related to the to_do_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f5efe6;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  font-family: "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  line-height: 20px;
  min-height: 1000px;
  padding: 10px 30px;
  text-align: left;
  width: 900px;

  .bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
  }

  .bs-callout h4 {
    margin-top: 0;
    color: #aa6708;
  }

  .bs-callout p:last-child {
    margin-bottom: 0;
  }

  .bs-callout code, .bs-callout .highlight {
    background-color: #fff;
  }

  .bs-callout-warning {
    border-color: #f1e7bc;
    border-left-color: #aa6708;
  }

  h1 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  hr {
    background: #CCCCCC;
    border: 0 none;
    height: 1px;
  }

  .list {
    form {
      //
    }

    .list-items {
      list-style-type: none;
      padding-left: 5px;
      padding-right: 100px;
    }

    .list-header {
      h3 {
        color: #1c5c76;
        font-size: 15px;
        margin-bottom: 0px;
        margin-top: 30px;
      }

      div {
        color: #808080;
        font-size: 12px;
        font-style: italic;
      }
    }

    .list-item {
      margin-bottom: 5px;
      label {
        position: relative;
        top: -1px;
      }
    }
  }
}